/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #283136;
  --basic-white: #ffffff;
  --basic-gray: #EEEEEE;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --special: #888888;
  --special-map: #666666;
  --special-footer: #444444;
  --special-filter: rgba(77, 77, 77, 0.4);
  --special-paggination: #DBDBDB;
  --special-close: rgba(251, 86, 90, 0.3);
  --special-hover: #E74246;

  --f-family: "Roboto", Arial, sans-serif;
  --f-size: 16px;
  --f-height: 24px;
}

body {
  min-width: 1157px;
  margin: 0;
  padding: 0;
  font-family: var(--f-family);
  font-size: var(--f-size);
  line-height: var(--f-height);
  font-weight: 400;
  color: var(--basic-dark);
}

.page {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 0;
  color: var(--basic-black);
  text-align: center;
  background-color: var(--basic-gray);
  padding: 64px 0 108px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Обнуление*/
.li-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

.p-none {
  margin: 0;
  padding: 0;
}

.a-color {
  color: var(--basic-black);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.border-bot {
  border-bottom: 1px solid var(--basic-gray);
}

/*Главная */
.logo:active .logo__image {
  opacity: 0.2;
}

.header {
  background-color: var(--basic-gray);
  padding-top: 52px;
}

.nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
}

.active_menu::before {
  content: "";
  position: absolute;
  top: 43px;
  width: 73px;
  height: 2px;
  border-bottom: 2px solid var(--basic-red);
  background-position: 0 0;
}

.menu {
  width: 100%;
  max-width: 520px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.menu__items {
  margin-right: 45px;
}

.user {
  margin-left: auto;
  position: relative;
}

.user__link {
  color: var(--basic-black);
}

.user::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -42px;
  width: 16px;
  height: 18px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header__nav a:hover,
.header__nav a:focus,
.header__nav a:hover,
.header__nav a:focus {
  color: var(--basic-red);
}

/*Слайдер*/
.banner {
  background-color: var(--basic-gray);
}

.banner-slide {
  min-height: 417px;
}

.banner-slide {
  padding-left: 374px;
  padding-top: 64px;
  background-position-x: 768px;
  background-position-y: -13px;
}

.banner-slide-1 {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
}

.banner-slide-2 {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
}

.banner-slide-3 {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
}

.slider-slide__title {
  font-weight: 500;
  font-size: 55px;
  padding-bottom: 26px;
  line-height: 55px;
  max-width: 600px;
}

.slider-slide__text {
  color: var(--basic-dark);
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 38px;
  max-width: 429px;
}

.button {
  font-family: inherit;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
  display: inline-block;
  transition: all 0.3s ease;
  outline: none;
  border-radius: 3px;
  padding-top: 15px;
  padding-bottom: 12px;
  padding-left: 39px;
  padding-right: 40px;
}

.button:active {
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.banner-slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-controls {
  position: absolute;
  left: 892px;
  margin-top: -116px;
}

.slider-slide__button {
  background-color: var(--basic-red);
  padding-left: 54px;
  padding-right: 54px;
}

.slider-slide__button:hover {
  background-color: var(--special-hover);
}

.slider-slide__button:active {
  background: #D7373B;
}

.slider-controls button {
  padding: 0;
  width: 17px;
  height: 17px;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
  margin-left: 15px;
}

.slider-controls .current::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid #C1C1C1;
  border-radius: 50%;
  top: 6px;
  margin-left: -4px;
}

/*Услуги*/
.products {
  padding-top: 80px;
  padding-bottom: 80px;
}

.product__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  padding-right: 58px;
}

.product__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-top: 18px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.product__description.padding {
  margin-right: 70px;
}

.product__description {
  margin-bottom: 31px;
  margin-right: 21px;
}

.button--green {
  background-color: var(--basic-green);
}

.button--green:hover {
  background: #00BC6C;
}

.button--green:active {
  background: #00AA62;
}

.button--yellow {
  background-color: var(--basic-yellow);
}

.button--yellow:active {
  background: #E5A722;
}

.button--yellow:hover {
  background: #EAB534;
}

.button--red {
  background-color: var(--basic-red);
}

.button--red:hover {
  background: #E74246;
}

.button--red:active {
  background: #D7373B;
}

/*о компании*/

.column-1 {
  margin-top: -12px;
}

.about {
  display: grid;
  grid-template-columns: 650px 375px;
  column-gap: 140px;
  padding-top: 41px;
  padding-bottom: 52px;
}

.about__title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
  padding-bottom: 32px;
  padding-top: 46px;
}

.about__description {
  padding-bottom: 43px;
}

.about-stats {
  padding: 0;
  padding-left: 10px;
  margin-top: 52px;
  display: flex;
  margin-right: 7px;
}

.about-stats__item {
  width: calc(100% / 3);
  text-align: left;
}

.about-stats__value {
  font-weight: 700;
  font-size: 45px;
  line-height: 22px;
  color: var(--basic-black);
  margin-bottom: 31px;
}

.about-stats__percent {
  padding: 0;
  margin: 0;
  top: -16px;
  left: -11px;
  font-size: 27px;
}

.about-stats__name {
  margin: 0;
  line-height: 20px;
}

.about__work {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 22px;
}

.about__logo {
  display: block;
  margin: auto;
  margin-bottom: 36px;
}

.about__subtitle {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-bottom: 50px;
  text-align: center;
  padding-left: 7px;
}

.work__item {
  position: relative;
  padding-left: 36px;
  margin-bottom: 23px;
}

.work__item:before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  background-color: var(--basic-red);
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

/*Партнеры*/
.partners {
  padding-bottom: 44px;
  padding-top: 46px;
}

.partners__list {
  display: grid;
  grid-template-columns: 279px 300px 300px 300px;
  align-items: center;
}

.partners__item {
  position: relative;
  opacity: 0.2;
}

.partners__item:active {
  opacity: 0.2;
}

.partners__img.html_academy {
  transform: translate(-8px, 6px);
}

.partners__item:not(:first-child)::after {
  position: absolute;
  content: "";
  height: 52px;
  width: 1px;
  background-color: black;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.partners__item:hover {
  opacity: 1;
}

.partners__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Карта*/
.footer {
  margin-top: 81px;
}

.catalog-footer {
  margin-top: 60px;
}

.contacts__block {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--basic-white);
  padding: 49px 50px 47px;
  max-width: 319px;
  height: 308px;
  width: 100%;
}

.button--map {
  padding: 17px 44px 15px;
}

/*Контакты*/
.contacts {
  min-height: 416px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #e9e5dc;
  position: relative;
}

.contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  margin-bottom: 23px;
}

.contacts__phone {
  margin-bottom: 36px;
}

.contacts__description {
  font-size: 16px;
  line-height: 18px;
  color: var(--special-map);
  padding-right: 10px;
  margin-bottom: 14px;
}

.contacts__phone-number {
  color: var(--special-map);
}

.footer-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 68px;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 260px;
  width: 100%;
}

.social__link:hover,
.social__link:focus {
  background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.social__link:active {
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social__link:active svg {
  opacity: 0.3;
}

.social__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--basic-gray);
}

.footer-bottom__block {
  margin-left: -180px;
  margin-top: 7px;
}

.footer-bottom__discount {
  font-size: 16px;
  line-height: 22px;
  color: var(--special-footer);
  padding-top: 9px;
}

.footer-bottom__headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

/*popup*/
.popup__button {
  color: var(--basic-black);
  text-decoration: none;
}

/*Фильтр*/

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.filter-item__next legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 18px;
  padding-bottom: 13px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 65%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 8px;
  height: 8px;
  padding: 0;
  border: 9px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.toggle-min:after, .toggle-max:after{
  content: "";
  position: absolute;
  width: 2px;
  height: 3px;
  border: 2px solid #C1C1C1;
  border-radius: 50%;
  top: -3px;
  margin-left: -2px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-size: 16px;
}

.price-controls input {
  width: 80px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
  padding-left: 20px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 28px;
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 35px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 18px;
}

.filter-option {
  margin-bottom: 22px;
  margin-left: 36px;
  margin-top: 5px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before:hover {
  border: 2px solid var(--basic-black);
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -4px;
  width: 22px;
  height: 22px;
  border: 2px solid var(--special-filter);
  border-radius: 20%;
}

.filter-input-checkbox:hover + label::before {
  border: 2px solid var(--basic-black);
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -36px;
  width: 23px;
  height: 23px;
  background-image: url(../img/cross.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:disabled + label,
.filter-input-checkbox:checked:disabled {
  opacity: 0.1;
}

.filter-input-checkbox:checked:hover + label::after {
  opacity: 1;
}

.filter-input-checkbox:checked + label::before {
  opacity: 0;
}

.filter-button {
  padding-right: 89px;
  padding-left: 88px;
  background: #EEEEEE;
  color: var(--basic-black);
  cursor: pointer;
}

.filter-button:hover {
  background: #DFDFDF;
}

.filter-button:active {
  background: #D5D5D5;
  color: rgba(0, 0, 0, 0.3);
}

/*каталог*/
.catalog {
  padding-top: 55px;
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
  column-gap: 140px;
}

.catalog-content__sort {
  display: flex;
  margin-bottom: 49px;
}

.sort {
  display: flex;
  margin-left: auto;
  padding-top: 3px;
}

.sort__items {
  margin-right: 25px;
}

.sort__link {
  opacity: 0.3;
}

.sort__link:hover {
  opacity: 0.6;
}

.sort__link:active {
  opacity: 1;
}

.sort__link.active {
  opacity: 1;
}

.filter__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.catalog__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.sort__link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort__items--arrow {
  margin-right: 0;
  margin-left: 21px;
}

.sort__link--up {
  padding-right: 18px;
}

.product {
  display: grid;
  grid-template-columns: repeat(2, 358px);
  grid-column-gap: 42px;
  grid-row-gap: 25px;
  margin-bottom: 49px;
}

.product-item__name:hover {
  color: #FB565A;
}

.product-item__name:active {
  color: #000000;
  opacity: 0.3;
}

.product-item {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.button__catalog {
  opacity: 0.12;
  vertical-align: middle;
  transition: all 0.3s ease-in-out;
}

.product-item__description {
  height: 231px;
  background-color: var(--basic-gray);
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  transform: translateY(100%);
  transition: all 0.3s ease-in-out;
}

.product-item:hover .button__catalog {
  opacity: 1;
}

.product-item:hover .product-item__description {
  transform: translateY(0);
}

.product-item__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 12px;
  margin-top: 22px;
  text-transform: uppercase;
  cursor: pointer;
}

.product-item__text {
  font-size: 16px;
  line-height: 18px;
  color: var(--special-map);
  text-align: center;
  margin: 0 85px;
  margin-bottom: 33px;
}

.slider-slide__button:hover {
  background-color: #E74246;
}

.button-item__button {
  background-color: var(--basic-red);
  margin-bottom: 44px;
  display: inline-block;
  padding-left: 72px;
  padding-right: 72px;
}

.pagination__item {
  font: inherit;
  text-align: center;
  color: var(--basic-black);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-gray);
  margin-right: 11px;
  display: inline-block;
  padding: 34px 24px 15px;
  height: 10px;
  position: relative;
  cursor: pointer;
}

.pagination__link {
  margin-bottom: -18px;
  position: absolute;
  top: 14px;
  left: 22px;
  font-weight: 700;
}

.last_link {
  left: 83px;
}

.pagination__item:last-of-type {
  padding: 17px 102px 33px 162px;
}

.pagination__item.active {
  background-color: var(--basic-white);
  border: 3px solid var(--special-paggination);
  box-sizing: border-box;
  border-radius: 3px;
  padding: 28px 22px 15px;
}

.pagination__item.active .pagination__link {
  top: 11px;
  left: 18px;
}

.pagination {
  display: flex;
}

.pagination__item:hover {
  background-color: #DFDFDF;
}

.pagination__item:active {
  background: #D5D5D5;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

#map {
  width: 100%;
  height: 500px;
  padding: 0;
  margin: 0;
}

/*popup*/
.popup {
  display: none;
  width: 960px;
  height: 590px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #FFFFFF;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.button--popup {
  background-color: var(--basic-red);
  padding: 17px 83px 15px;
  margin-right: 499px;
  border: none;
  color: var(--basic-white);
}

.popup__title {
  font-size: 45px;
  line-height: 53px;
  margin-top: 64px;
  margin-left: 100px;
  margin-bottom: 37px;
}

.modal-close {
  position: absolute;
  top: 77px;
  right: 89px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::after:hover,
.modal-close::before:hover {
  background-color: #FB565A;
}

.modal-close::before:hover,
.modal-close::after:hover {
  background-color: #FB565A;
}

.modal-error .appointment-item input {
  border: 2px solid #E74246;
}

.modal-error ::-webkit-input-placeholder { /* WebKit browsers */
  color: #E74246;
}

.modal-error :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #E74246;
}

.modal-error ::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #E74246;
}

.modal-error :-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #E74246;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 25px;
  height: 4px;
  background-color: var(--special-close);

}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}


.appointment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.appointment-item {
  width: 360px;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 40px;
}

.appointment-item.message {
  width: 760px;
  margin-top: 24px;
  margin-left: 4px;
  margin-bottom: 47px;
}

.appointment-item label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  display: block;
  margin-bottom: 9px;
  margin-left: 19px;
}

.appointment-item input {
  width: 360px;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 7px;
  padding-left: 15px;
  font: inherit;
  background-color: transparent;
  border: 2px solid var(--special-paggination);
  box-sizing: border-box;
  margin-left: 20px;
  height: 50px;
}

.appointment-item.message input {
  width: 760px;
  height: 118px;
  padding-bottom: 75px;
  padding-right: 15px;
  padding-left: 12px;
}

.appointment-item input:focus {
  border-color: var(--special);
}

.appointment .button {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-right: 0;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.button--popup:hover {
  background-color: var(--special-hover);
  cursor: pointer;
}

.button--map:hover {
  background-color: var(--special-hover);
  cursor: pointer;
}

.form__group:not(:last-child) {
  margin-top: 3px;
  margin-bottom: 22px;
}

.label {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.radio {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #ffffff;
  border: 4px solid #b8b8b8;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

input[type="radio"]:checked + .radio {
  -webkit-box-shadow: inset 0px 0px 0px 4px #fdfdfd;
  box-shadow: inset 0px 0px 0px 4px #fdfdfd;
  background: #b8b8b8;
}

.label:hover input[type="radio"]:checked + .radio,
.label:focus input[type="radio"]:checked + .radio {
  background: #4d4d4d;
}

.label:hover .radio,
.label:focus .radio {
  border-color: #4d4d4d;
}

input[type="radio"]:disabled + .radio {
  border-color: rgba(184, 184, 184, 0.1);
}

.label:hover input[type="radio"]:checked:disabled + .radio,
input[type="radio"]:checked:disabled + .radio {
  border-color: rgba(184, 184, 184, 0.1);
  background: rgba(184, 184, 184, 0.1);
}
