/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #283136;
  --basic-white: #ffffff;
  --basic-gray: #EEEEEE;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --special: #888888;
  --special-map: #666666;
  --special-footer: #444444;;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.title{
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Обнуление*/
.li-none{
  list-style: none;
  margin: 0;
  padding: 0;
}

.a-color{
  color: var(--basic-black);
}

.visually-hidden{
  display: none;
}

/*Главная */
.header{
  background-color: var(--basic-gray);
}
.nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.user__link{
  color: var(--basic-black);
}

/*Слайдер*/
.banner{
  background-color: var(--basic-gray);
}

.slider-slide__title{
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slider-slide__text{
  color: var(--basic-dark);
}

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
}

.slider-slide__button{
  background-color: var(--basic-red);
}

/*Услуги*/
.product__name{
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.button--green{
  background-color: var(--basic-green);
}

.button-yellow{
  background-color: var(--basic-yellow);
}

.button--red{
  background-color: var(--basic-red);
}

/*о компании*/
.about__title{
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}

.about__work{
  text-transform: uppercase;
}

.about__subtitle{
  text-transform: uppercase;
  color: var(--basic-black);
}

.about-stats__value{
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

.about-stats__name{
  font-size: 16px;
  line-height: 18px;
}

/*Конакты*/
.contacts__title{
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
}

.contacts__description{
  font-size: 16px;
  line-height: 18px;
  color: var(--special-map);
}

.contacts__phone-number{
  color: var(--special-map);
}

.social__link{
  color: var(--basic-gray);
  text-decoration: none;
}

.footer-bottom__discount{
  font-size: 16px;
  line-height: 22px;
  color: var(--special-footer);
}

.footer-bottom__headline{
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

/*popup*/
.popup__button{
  color: var(--basic-black);
  text-decoration: none;
}

/*каталог*/
.filter__title{
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.catalog__title{
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.sort__link{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.product-item__description{
  background-color: var(--basic-gray);
}

.product-item__name{
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.product-item__text{
  font-size: 16px;
  line-height: 18px;
  color: var(--special-map);
}

.pagination__link{
  font: inherit;
  text-align: center;
  color: var(--basic-black);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-gray);
  border: none;
}
