/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #283136;
  --basic-white: #ffffff;
  --basic-white1: #e9e5dc;
  --basic-white2: #f1f1f1;
  --basic-white3: #d7dcde;
  --basic-white4: #DFDFDF;
  --basic-gray: #EEEEEE;
  --basic-grey1: #C1C1C1;
  --basic-grey2: #ababab;
  --basic-grey3: #cfcfcf;
  --basic-grey4: #b8b8b8;
  --basic-grey5: #4d4d4d;
  --basic-grey6: #B4B9BB;
  --basic-red: #FB565A;
  --basic-red1: #D7373B;
  --basic-green: #00CA74;
  --basic-green1: #00BC6C;
  --basic-green2: #00AA62;
  --basic-yellow: #EFC849;
  --basic-yellow1: #E5A722;
  --basic-yellow2: #EAB534;
  --basic-yellow3: #fc0;
  --special: #888888;
  --special-map: #666666;
  --special-footer: #444444;
  --special-filter: rgba(77, 77, 77, 0.4);
  --special-paggination: #DBDBDB;
  --special-close: rgba(251, 86, 90, 0.3);
  --special-hover: #E74246;
  --special-grey: #283136;
  --special-grey1: rgba(255, 255, 255, 0.3);
  --special-white: #D5D5D5;
  --special-white1: #fdfdfd;
  --special-black1: rgba(0, 1, 1, 0.1);
  --special-black2: rgba(0, 0, 0, 0.3);
  --special-black3: rgba(184, 184, 184, 0.1);
  --special-black4: rgba(184, 184, 184, 0.1);

  --f-family: "Roboto", Arial, sans-serif;
  --f-size: 16px;
  --f-height: 24px;
}

body {
  min-width: 1157px;
  margin: 0;
  padding: 0;
  font-family: var(--f-family);
  font-size: var(--f-size);
  line-height: var(--f-height);
  font-weight: 400;
  color: var(--basic-dark);
}

.page {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page-body {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
  align-content: start;
}

.title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 0;
  color: var(--basic-black);
  text-align: center;
  background-color: var(--basic-gray);
  padding: 64px 0 108px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Обнуление*/
.li-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

.p-none {
  margin: 0;
  padding: 0;
}

.a-color {
  color: var(--basic-black);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.border-bot {
  border-bottom: 1px solid var(--basic-gray);
}

/*Главная */
.logo:active .logo__image {
  opacity: 0.2;
}

.header {
  background-color: var(--basic-gray);
  padding-top: 52px;
}

.nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  margin-right: auto;
}

.active_menu::before {
  content: "";
  position: absolute;
  top: 43px;
  width: 73px;
  height: 2px;
  border-bottom: 2px solid var(--basic-red);
  background-position: 0 0;
}

.menu {
  width: 100%;
  max-width: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}

.menu__items {
  margin-right: 45px;
}

.user {
  margin-left: auto;
  position: relative;
}

.user__link {
  color: var(--basic-black);
}

.user::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -42px;
  width: 16px;
  height: 18px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header__nav a:hover,
.header__nav a:focus {
  color: var(--basic-red);
}

.header__nav a:active{
  color: var(--special-black2);
}

/*Слайдер*/
.banner {
  background-color: var(--basic-gray);
  position: relative;
}

.banner-slide {
  min-height: 417px;
}

.slider-slide__info {
  max-width: 600px;
}

.banner-slide {
  padding-top: 64px;
  background-position-x: 400px;
  background-position-y: -13px;
}

.banner-slide-1 {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
}

.banner-slide-2 {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
}

.banner-slide-3 {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
}

.slider-slide__title {
  font-weight: 500;
  font-size: 55px;
  margin-bottom: 26px;
  line-height: 55px;
}

.slider-slide__text {
  color: var(--basic-dark);
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 38px;
  margin-right: 170px;
}

.button {
  font-family: inherit;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: none;
  border-radius: 3px;
  padding-top: 15px;
  padding-bottom: 12px;
  padding-left: 39px;
  padding-right: 40px;
  font-weight: 500;
}

.button:active {
  -webkit-box-shadow: inset 0px 3px 0px var(--special-black1);
  box-shadow: inset 0px 3px 0px var(--special-black1);
  color: var(--special-grey1);
}

.banner-slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-controls {
  position: absolute;
  top: 301px;
  left: 50%;
  -webkit-transform: translateX(-57%);
  -ms-transform: translateX(-57%);
  transform: translateX(-57%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.slider-slide__button {
  background-color: var(--basic-red);
  padding-left: 54px;
  padding-right: 54px;
  line-height: 18px;
}

.slider-slide__button:hover,
.slider-slide__button:focus {
  background-color: var(--special-hover);
}

.slider-slide__button:active {
  background: var(--basic-red1);
}

.slider-controls button {
  padding: 0;
  width: 17px;
  height: 17px;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
  margin-left: 15px;
  position: relative;
}

.slider-controls button:focus{
  outline: 2px solid var(--basic-yellow3);
}

.slider-controls .current::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid var(--basic-grey1);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*Услуги*/
.products {
  margin-top: 80px;
  padding-bottom: 80px;
}

.product__preview {
  margin-bottom: 18px;
}

.product__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 100px 1fr 100px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 100px;
  -moz-column-gap: 100px;
  column-gap: 100px;
  padding-right: 58px;
}

.product__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.product__description.padding {
  margin-right: 70px;
}

.product__description {
  margin-bottom: 31px;
  margin-right: 21px;
}

.button--green {
  background-color: var(--basic-green);
}

.button--green:hover,
.button--green:focus {
  background: var(--basic-green1);
}

.button--green:active {
  background: var(--basic-green2);
}

.button--yellow {
  background-color: var(--basic-yellow);
}

.button--yellow:active {
  background: var(--basic-yellow1);
}

.button--yellow:hover,
.button--yellow:focus {
  background: var(--basic-yellow2);
}

.button--red {
  background-color: var(--basic-red);
}

.button--red:hover,
.button--red:focus {
  background: var(--special-hover);
}

.button--red:active {
  background: var(--basic-red1);
}

/*о компании*/

.column-1 {
  margin-top: -12px;
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 650px 140px 375px;
  grid-template-columns: 650px 375px;
  -webkit-column-gap: 140px;
  -moz-column-gap: 140px;
  column-gap: 140px;
  padding-top: 41px;
  padding-bottom: 52px;
}

.about__title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
  padding-bottom: 32px;
  padding-top: 46px;
}

.about__description {
  padding-bottom: 43px;
}

.about-stats {
  padding: 0;
  padding-left: 10px;
  margin-top: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 7px;
  flex-wrap: wrap;
}

.about-stats__item {
  width: calc(100% / 3);
  text-align: left;
}

.about-stats__value {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
  margin-bottom: 12px;
}

.about-stats__percent {
  padding: 0;
  margin: 0;
  top: -16px;
  left: -11px;
  font-size: 27px;
  line-height: 40px;
}

.about-stats__name {
  margin: 0;
  line-height: 18px;
}

.about__work {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 22px;
}

.about__logo {
  display: block;
  margin: auto;
  margin-bottom: 36px;
}

.about__subtitle {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-bottom: 24px;
  text-align: center;
  padding-left: 7px;
}

.work__item {
  position: relative;
  padding-left: 36px;
  margin-bottom: 23px;
}

.work__item:before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  background-color: var(--basic-red);
  height: 2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}

/*Партнеры*/
.partners {
  padding-bottom: 44px;
  padding-top: 46px;
}

.partners__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 279px 300px 300px 300px;
  grid-template-columns: 279px 300px 300px 300px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.partners__item {
  position: relative;
}

.partners__img {
  opacity: 0.2;
}

.partners__img:active {
  opacity: 0.1;
}

.partners__img.html_academy {
  -webkit-transform: translate(-8px, 6px);
  -ms-transform: translate(-8px, 6px);
  transform: translate(-8px, 6px);
}

.partners__item:not(:first-child)::after {
  position: absolute;
  content: "";
  height: 52px;
  width: 1px;
  background-color: var(--basic-black);
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  opacity: 0.2;
}

.partners__img:hover,
.partners__img:focus {
  opacity: 1;
}

.partners__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap;
}

/*Карта*/
.footer {
  margin-top: 81px;
}

.catalog-footer {
  margin-top: 60px;
}

.contacts__block {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: var(--basic-white);
  padding: 49px 50px 47px;
  max-width: 319px;
  height: 308px;
  width: 100%;
}

.button--map {
  padding: 17px 44px 15px;
}

/*Контакты*/
.contacts {
  min-height: 416px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: var(--basic-white1);
  position: relative;
}

.contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  margin-bottom: 23px;
}

.contacts__phone {
  margin-bottom: 36px;
}

.contacts__description {
  font-size: 16px;
  line-height: 18px;
  color: var(--special-map);
  padding-right: 10px;
  margin-bottom: 14px;
}

.contacts__phone-number {
  color: var(--special-map);
}

.footer-bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 260px 140px 760px;
  grid-template-columns: 260px 760px;
  grid-column-gap: 140px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 68px;
  margin-bottom: 60px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 260px;
  width: 100%;
  flex-wrap: wrap;
}

.social__link:hover,
.social__link:focus {
  background: -webkit-gradient(linear, left bottom, left top, from(var(--special-hover)), to(var(--special-hover))), var(--basic-white);
  background: -o-linear-gradient(bottom, var(--special-hover), var(--special-hover)), var(--basic-white);
  background: linear-gradient(0deg, var(--special-hover), var(--special-hover)), var(--basic-white);
}

.social__link:active {
  -webkit-box-shadow: inset 0px 3px 0px var(--special-black1);
  box-shadow: inset 0px 3px 0px var(--special-black1);
}

.social__link:active svg {
  opacity: 0.3;
}

.social__link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--basic-gray);
}

.footer-bottom__discount {
  font-size: 16px;
  line-height: 22px;
  color: var(--special-footer);
  padding-top: 9px;
}

.footer-bottom__headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

/*popup*/
.popup__button {
  color: var(--basic-black);
  text-decoration: none;
}

/*Фильтр*/

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.filter-item__next legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 18px;
  margin-bottom: 15px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 11px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-white2);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-white3);
}

.range-controls .bar {
  width: 65%;
  height: 2px;
  background: var(--basic-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 8px;
  height: 8px;
  padding: 0;
  border: 9px solid var(--basic-white);
  background-color: var(--basic-grey2);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 var(--basic-grey3);
  box-shadow: 0 2px 1px 0 var(--basic-grey3);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.toggle-min:after, .toggle-max:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 3px;
  border: 2px solid var(--basic-grey1);
  border-radius: 50%;
  top: -3px;
  margin-left: -2px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}

.price-controls label {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
}

.price-controls input {
  width: 80px;
  line-height: 22px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--special-grey);
  border: none;
  border-radius: 5px;
  background: var(--basic-white2);
  font-family: inherit;
  font-size: inherit;
  padding-left: 20px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 42px;
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 53px;
}

.filter fieldset:last-of-type {
  margin-bottom: 31px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 18px;
}

.filter-option {
  margin-bottom: 22px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 36px;
}

.filter-input-checkbox + label::before:hover,
.filter-input-checkbox + label::before:focus {
  border: 2px solid var(--basic-black);
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  border: 2px solid var(--special-filter);
  border-radius: 3px;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
  border: 2px solid var(--basic-black);
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: 0;
  width: 25px;
  height: 23px;
  background-image: url("../img/cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:disabled + label,
.filter-input-checkbox:checked:disabled {
  opacity: 0.1;
}

.filter-input-checkbox:checked:hover + label::after,
.filter-input-checkbox:checked:focus + label::after {
  opacity: 1;
}

.filter-input-checkbox:checked + label::before {
  opacity: 0;
}

.filter-button {
  padding-right: 89px;
  padding-left: 88px;
  background: var( --basic-gray);
  color: var(--basic-black);
  cursor: pointer;
  font-weight: 700;
}

.filter-button:hover,
.filter-button:focus {
  background: var(--basic-grey3);
}

.filter-button:active {
  background: var(--special-white);
  color: var(--special-black2);
}

/*каталог*/
.catalog {
  padding-top: 55px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 260px 140px 1fr;
  grid-template-columns: 260px 1fr;
  -ms-flex-line-pack: start;
  align-content: start;
  -webkit-column-gap: 140px;
  -moz-column-gap: 140px;
  column-gap: 140px;
}

.catalog-content__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 49px;
  flex-wrap: wrap;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding-top: 3px;
  flex-wrap: wrap;
}

.sort__items {
  margin-right: 25px;
}

.sort__link {
  opacity: 0.3;
}

.sort__link:hover,
.sort__link:focus {
  opacity: 0.6;
}

.sort__link:active {
  opacity: 1;
}

.sort__link.active {
  opacity: 1;
}

.filter__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.catalog__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.sort__link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort__items--arrow {
  margin-right: 0;
  margin-left: 21px;
}

.sort__link--up {
  padding-right: 18px;
}

.product {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 358px 42px 358px;
  grid-template-columns: repeat(2, 358px);
  grid-column-gap: 42px;
  grid-row-gap: 25px;
  margin-bottom: 49px;
}

.product-item__name a:hover,
.product-item__name a:focus {
  color: var(--basic-red);
}

.product-item__name a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.product-item {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.button__catalog {
  opacity: 0.12;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.product-item__description {
  min-height: 231px;
  background-color: var(--basic-gray);
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.product-item:hover .button__catalog,
.product-item:focus .button__catalog {
  opacity: 1;
}

.product-item:hover .product-item__description,
.product-item:focus .product-item__description {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.product-item__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 12px;
  margin-top: 22px;
  text-transform: uppercase;
  cursor: pointer;
}

.product-item__name a{
  color: var(--basic-black);
}

.product-item__text.margin{
  margin: 0 65px 33px;
}

.product-item__text {
  font-size: 16px;
  line-height: 18px;
  color: var(--special-map);
  text-align: center;
  margin: 0 85px;
  margin-bottom: 33px;
}

.slider-slide__button:hover,
slider-slide__button:focus {
  background-color: var(--special-hover);
}

.button-item__button {
  background-color: var(--basic-red);
  margin-bottom: 44px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 72px;
  padding-right: 72px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 443px;
  width: 100%;
}

.pagination__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3px;
  font-weight: 500;
  line-height: 18px;
  height: 50px;
  width: 50px;
  border: 3px solid transparent;
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

.pagination__link.active {
  border-color: var(--basic-gray);
  background-color: var(--basic-white);
}

.pagination__link.last_link {
  max-width: 260px;
  width: 100%;
  min-width: 260px;
  text-transform: uppercase;
}

.pagination__link:hover:not(.active),
.pagination__link:focus:not(.active) {
  background: var(--basic-white4);
}

.pagination__link:active:not(.active) {
  background: var(--special-white);
  -webkit-box-shadow: inset 0px 3px 0px var(--special-black1);
  box-shadow: inset 0px 3px 0px var(--special-black1);
}

.map {
  width: 100%;
  height: 416px;
  padding: 0;
  margin: 0;
}

/*popup*/
.popup-wrapper {
  position: fixed;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;
  height: 100%;
  width: 100%;
}

.popup {
  position: relative;
  width: 100%;
  min-height: 590px;
  padding: 63px 99px 60px 100px;
  max-width: 960px;
  background: var(--basic-white);
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.button--popup {
  padding: 17px 83px 15px;
}

.popup__title {
  font-size: 45px;
  line-height: 53px;
  margin-bottom: 34px;
}

.modal-close {
  background-image: url("../img/close.svg");
  width: 21px;
  height: 21px;
  position: absolute;
  top: 77px;
  right: 89px;
  border: 0;
  cursor: pointer;
  opacity: 0.3;
}

.modal-close:active {
  opacity: 0.1;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.appointment-name{
  line-height: 18px;
}

.appointment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.appointment-item {
  width: 100%;
  margin-bottom: 31px;
}

.appointment-item:nth-child(1),
.appointment-item:nth-child(2) {
  width: calc(100% / 2 - 20px);
}

.appointment-item label {
  font-weight: 700;
  display: block;
  margin-bottom: 6px;
  line-height: 18px;
}

.appointment-item input {
  width: 100%;
  padding: 14px 15px;
  font-family: inherit;
  line-height: 18px;
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid var(--special-paggination);
  outline:none;
}

.appointment-item:hover input,
.appointment-item:focus input{
  border: 2px solid var(--basic-grey6);
}

.appointment-item:active input{
  border: 2px solid var(--basic-black);
}

.appointment-item.message {
  margin-bottom: 40px;
}

.message textarea {
  padding: 14px 15px;
  resize: none;
  width: 100%;
  border: 2px solid var(--special-paggination);
  border-radius: 2px;
  min-height: 118px;
  line-height: 18px;
  outline:none;
}

.appointment-item:hover textarea,
.appointment-item:focus textarea{
  border: 2px solid var(--basic-grey6);
}

.appointment-item:active textarea{
  border: 2px solid var(--basic-black);
}


.appointment-item input:focus {
  border-color: var(--special);
}

.appointment .button {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-right: 0;
}

.modal-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-show .popup{
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.button--map:hover,
.button--map:focus {
  background-color: var(--special-hover);
  cursor: pointer;
}

.form__group:not(:last-child) {
  margin-top: 3px;
  margin-bottom: 22px;
}

.label {
  line-height: 19px;
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.radio {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: var(--basic-white);
  border: 4px solid var(--basic-grey4);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.radio_but:checked + .radio {
  -webkit-box-shadow: inset 0px 0px 0px 4px var(--special-white1);
  box-shadow: inset 0px 0px 0px 4px var(--special-white1);
  background: var(--basic-grey4);
}

.radio_but:checked:hover + .radio,
.radio_but:checked:focus + .radio {
  background: var(--basic-grey5);
}

.radio_but:hover + .radio,
.radio_but:focus + .radio {
  border-color: var(--basic-grey5);
}

.radio_but:disabled + .radio {
  border-color: var(--special-black4);
}

.label:hover .radio_but:checked:disabled + .radio,
.radio_but:checked:disabled + .radio {
  border-color: var(--special-black3);
  background: var(--special-black3);
}

.modal-error input {
  border: 2px solid var(--special-hover);
  color: var(--special-hover);
}

.modal-error {
  animation: shake 0.6s;
}
